{% extends 'portfolio/base.html' %}

{% block content %}
<div class="container">
    <!-- Header Section -->
    <h2>Welcome to My Financial Dashboard</h2>

    <!-- TradingView Widget Container -->
    <div class="tradingview-widget-container">
        <div id="tradingview-widget" class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright">
            <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
                <span class="blue-text">Track all markets on TradingView</span>
            </a>
        </div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
        {
        "autosize": true,
        "symbol": "AMEX:VOO",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "light",
        "style": "1",
        "locale": "en",
        "withdateranges": true,
        "hide_side_toolbar": false,
        "allow_symbol_change": true,
        "watchlist": [
            "NASDAQ:NVDA",
            "NASDAQ:TSLA",
            "NASDAQ:AAPL",
            "NASDAQ:META",
            "NASDAQ:GOOGL",
            "NASDAQ:AMZN",
            "NASDAQ:AMD",
            "AMEX:SPY",
            "NASDAQ:QQQ",
            "AMEX:VT",
            "AMEX:VEU",
            "NASDAQ:BND"
        ],
        "details": true,
        "hotlist": true,
        "calendar": true,
        "studies": [
            "STD;MA%1Cross",
            "STD;MACD"
        ],
        "container_id": "tradingview-widget"
        }
        </script>
    </div>
</div>
{% endblock %}
